@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a class="btn btn-primary" asp-action="LogOut" asp-controller="RegisteredUser">Log Out</a>